extends layout

block content

  p Welcome to our website, your go-to source for up-to-date population information! Our website is a new system that allows easy access to population data from a SQL database. We believe that data should be easily accessible to everyone, and our website was created with that in mind.

  p Our team of expert developers work to analyze the latest population data from various sources around the world. We strive to provide accurate and reliable information that you can trust.

  p Our user-friendly interface makes it easy to find the information you need quickly and efficiently. Whether you're looking for the population of a particular city, country, or region, you can find it all on our website. We also provide detailed information on country, city, and population.

  p At our website, we believe that knowledge is power, and we are committed to providing access to the latest population data to everyone, regardless of their background or expertise. So whether you're a researcher, journalist, or just someone with a curious mind, we invite you to explore our website and discover the fascinating world of population data.

  p Our team:
  p Developer #1: Sebastian Torrejon Alonzo