extends layout.pug

block head
  link(rel="stylesheet", href="/cities.css")

block content
  p
    | Find the population of the 
    a(href='/cities/population/world') world
    | , a 
    a(href='#') continent
    | , a 
    a(href='#') region
    | , a 
    a(href='#') country
    | , a 
    a(href='#') district
    | , or a 
    a(href='#') city
    | .


  h2 All Cities
  table
    thead
      th.text-center 🏴
      th City
      th.number Population
    tbody
      each row in rows
        tr
          td.fit #{row.CountryCode}
          td #{row.Name}
          - const population = new Intl.NumberFormat().format(row.Population);
          td.fit.number #{population}