extends layout

block content
  h2 Add a new country
    form(action='/add-country', method='POST')
      input(type='text' name='code' placeholder='Code')
      input(type='text' name='name' placeholder='Name')
      input(type='text' name='continent' placeholder='Continent')
      input(type='text' name='region' placeholder='Region')
      input(type='text' name='surfacearea' placeholder='SurfaceArea')
      input(type='text' name='indepyear' placeholder='IndepYear')
      input(type='text' name='population' placeholder='Population')
      input(type='text' name='lifeexpectancy' placeholder='LifeExpectancy')
      input(type='text' name='gnp' placeholder='GNP')
      input(type='text' name='gnpold' placeholder='GNPOld')
      input(type='text' name='localname' placeholder='LocalName')
      input(type='text' name='governmentform' placeholder='GovernmentForm')
      input(type='text' name='headofstate' placeholder='HeadOfState')
      input(type='text' name='capital' placeholder='Capital')
      input(type='text' name='code2' placeholder='Code2')
      div
      input(type='submit' value='Submit')

  h2 Add a new city
    form(action='/add-city', method='POST')
      input(type='text' name='id' placeholder='ID')
      input(type='text' name='name' placeholder='Name')
      input(type='text' name='countrycode' placeholder='Country Code')
      input(type='text' name='district' placeholder='District')
      input(type='text' name='population' placeholder='Population')
      div
      input(type='submit' value='Submit')