extends layout.pug
block content
  link(rel="stylesheet", href="/index.css")
  h1 Best Website Ever!
  p This website is dedicated to report on population information. It is a cutting-edge platform that has been designed to provide easy access to a vast array of data related to populations. The website is built on a SQL database system that ensures fast and efficient data retrieval, making it easy for users to find the information you need quickly.
  p The website features a modern, user-friendly interface that is easy to navigate, allowing users to filter and sort through the data with ease. Users can search for information on specific countries, cities, and population.
  p Whether you're a researcher, government agency, or just someone with an interest in population information, this website is the go-to resource for reliable and comprehensive data. With its user-friendly interface, customizable reports, and powerful data tools, the website is sure to become an essential tool for anyone looking to explore population information.

  p /countries type 'the world', a continent, or region.
  form(action='/countries', method='POST')
    input(type="text" name="place" placeholder="Enter 'the world', a continent, or region.")
    input(type="text" name="N" placeholder="Enter how many to display, type all for all.")
    input(type='submit' value='Submit')

  p /cities type 'the world', a continent, region, country, or district.
  form(action='/cities', method='POST')
    input(type="text" name="place" placeholder="Enter 'the world', a continent, region, country, or district.")
    input(type="text" name="N" placeholder="Enter how many to display, type all for all.")
    input(type='submit' value='Submit')

  p /capitals type 'the world', a continent, or region.
  form(action='/capitals', method='POST')
    input(type="text" name="place" placeholder="Enter 'the world', a continent, or region.")
    input(type="text" name="N" placeholder="Enter how many to display, type all for all.")
    input(type='submit' value='Submit')

  p /city-population type 'country', 'continent', or 'region'.
  form(action='/city-population', method='POST')
    input(type="text" name="place" placeholder="Enter 'country, 'continent', or 'region'.")
    input(type='submit' value='Submit')

  p /population type 'the world', a continent, region, country, district, or city.
  form(action='/population', method='POST')
    input(type="text" name="place" placeholder="Enter 'the world', a continent, region, country, district, or city.")
    input(type='submit' value='Submit')

  p /language 
  form(action='/language', method='POST')
    input(type='submit' value='Submit')

  p /country-report type a country.
  form(action='/country-report', method='POST')
    input(type="text" name="place" placeholder="Enter a country.")
    input(type='submit' value='Submit')

  p /city-report type a city.
  form(action='/city-report', method='POST')
    input(type="text" name="place" placeholder="Enter a city.")
    input(type='submit' value='Submit')

  p /capital-report type a capital.
  form(action='/capital-report', method='POST')
    input(type="text" name="place" placeholder="Enter a capital.")
    input(type='submit' value='Submit')

  p /population-report type a continent, region, or country.
  form(action='/population-report', method='POST')
    input(type="text" name="place" placeholder="Enter acontinent, region, or country.")
    input(type='submit' value='Submit')

  img.image(src='https://static.vecteezy.com/system/resources/previews/009/314/440/original/earth-globe-clip-art-vector-illustration-isolated-free-png.png' alt='earthIMG')