doctype html
html(lang='en')
  head
    title Login
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/png', href='/icons/favicon.ico')
    link(rel='stylesheet', type='text/css', href='/util.css')
    link(rel='stylesheet', type='text/css', href='/main.css')
  body
    .limiter
      .container-login100
        .wrap-login100
          .login100-pic.js-tilt(data-tilt='')
            img(src='/img-01.png', alt='signinIMG')
          form.login100-form
            span.login100-form-title  Welcome
            .wrap-input100
              input.input100(type='text', name='email', placeholder='Email')
              span.focus-input100
              span.symbol-input100
                i.fa.fa-envelope(aria-hidden='true')
            .wrap-input100
              input.input100(type='password', name='pass', placeholder='Password')
              span.focus-input100
              span.symbol-input100
                i.fa.fa-lock(aria-hidden='true')
            .container-login100-form-btn
              button(onclick="/signin").login100-form-btn Login
            .text-center.p-t-12
              span.txt1 
              a.txt2(href='/index') Continue as a guest?

            .text-center.p-t-136
              a.txt2(href='https://github.com/Group-4W/Sprint3')
                | Github link
                i.fa.fa-long-arrow-right.m-l-5(aria-hidden='true')
    script.
      $(".js-tilt").tilt({
      scale: 1.1,
      });